*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'ubuntu';
    overflow-x: hidden;
    background-image: url('assets/student.png');
}

/*navbar*/
nav{
    display: flex;
    background-color: rgb(17, 17, 84);
    justify-content: space-around;
    height: 80px;
    align-items: center;
    color: white;
}

nav .logo{
    font-family: 'ubuntu';
    letter-spacing: 1px;
}


nav ul{
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;

}

nav ul li .icon{
    text-align: center;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    
}


/* hamburger menu */
.menu-toggle{
display: none;
flex-direction: column;
height: 20px;
justify-content: space-between;
position: relative;

}

.menu-toggle input{
    position: absolute;
    width: 40px;
    height: 28px;
    opacity: 0;
    left: -6px;
    top: -3px;
    opacity: ;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span{
    display:block;
    width: 28px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    transition: all 0.5s;
}

/* hamburger mneu animation */
.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4){
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2){
    background-color: white;
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(3){
    opacity: ;
    transform: scale(0);
}

.menu-toggle input:checked ~ span:nth-child(4){
    background-color: white;
    transform: rotate(-45deg) translate(-1px, 0px);
}

/* responsice breakpoint */
/* ukuran tablet */
@media screen and (max-width:768px){
    nav ul{
        width: 50%;
    }
}

/* ukuran mobile */
@media screen and (max-width:576px){
    .menu-toggle{
        display: flex;
    }
    nav ul{
        position: absolute;
        right: 0;
        top: 0;
        width: 39%;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: rgb(17, 17, 84);
        z-index: -1;
        transform: translateX(100%); 
        transition: all 1s;
    }

    nav ul.slide{
        transform: translateX(0);
    }
}

.kolom .deskripsi{
    font-size: 25px;
    font-weight: bold;
    font-family: 'ubuntu';
    margin-top: 150px;
    margin-left: 100px;
    color: rgb(17, 17, 84);
}

.kolom .deskripsi1{
    font-size: 35px;
    font-weight: bold;
    font-family: 'ubuntu';
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    color: rgb(17, 17, 84);
}

.kolom .halo1{
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    font-family: 'ubuntu';
    color:black;
    margin-left: 120px;
    margin-right: 600px;
    margin-top: 20px;
}
.kolom .halo{
    text-decoration: none;
    font-size: 16px;
    font-family: 'ubuntu';
    color:black;
    margin-left: 120px;
    margin-right: 600px;
    margin-top: 10px;
}

